





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.list{
  text-align: left;
}
.App{
  padding: 20px;
}
 .pad{
  padding: 10px;
 }